---
dist: xenial
sudo: required
services: docker
addons:
  apt:
    sources:
      - chef-stable-xenial
    packages:
      - chef-workstation

cache:
  apt: true

env:
  global:
    - CHEF_LICENSE="accept-no-persist"
    - KITCHEN_LOCAL_YAML=.kitchen.dokken.yml
  matrix:
    - CMD="chef exec cookstyle --display-cop-names --extra-details"
    - CMD="chef exec foodcritic ."
    - CMD="kitchen verify amazonlinux-2"
    - CMD="kitchen verify centos-7"
    - CMD="kitchen verify debian-10"
    - CMD="kitchen verify ubuntu-2004"

matrix:
  fast_finish: true

before_install:
  - eval "$(/opt/chefdk/bin/chef shell-init bash)"
  - chef --version

# We are using ChefDK so no gem install required.
# https://docs.travis-ci.com/user/customizing-the-build#Skipping-the-Installation-Step
install: true

script: ${CMD}
