name: Run cookstyle

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install Chef Workstation
      run: |
        wget -qO - https://omnitruck.chef.io/install.sh | sudo bash -s -- -P chef-workstation -s once
        chef --version
    - name: Run cookstyle
      env:
        CHEF_LICENSE: accept-no-persist
      run: |
        eval "$(chef shell-init bash)"
        cookstyle --display-cop-names --extra-details
